header{
    position: fixed;
    background-color: #fff;
    width: 100%;
    z-index: 30;
}
.header-content {
    margin: 7px auto 15px 310px;
}
.header-content__top-block {
    display: inline-flex;
    width: 100%;
}
.header-content__first-block {
    display: inline-flex;
    margin-right: -10%;
    height: 64px;
    width: 220px;
    left: 220px;
    top: 8px;
}
.header-content__text-logo{
    margin: auto 0 auto 35px;
}
.header-content__text-logo>div{
    font-family: 'Panton';
    font-style: normal;
    font-size: 32px;
    line-height: 26px;
    font-weight: 800;
}
.header-content__text-logo>span{
    font-size: 9.3px;
    font-weight: 600;
    line-height: 11.34px;
}
.header-content__second-block {
    margin: auto 240px auto 35px;
    width: 240px;
}
.header-content__second-block>div {
    font-weight: 600;
}
.header-content__circle{
    margin-right: 7px;
    display: inline;
}
.header-content__circle>span{
    position: absolute;
    width: 4px;
    height: 4px;
    top: 48px;
    border-radius: 50%;
    background: #FF2E65;
}
.header-content__text-city{
    color: #FF2E65;
}
.header-content__third-block {
    display: inline-flex;
    margin: auto 0;
}
.header-content__third-block>button {
    width: 180px;
    height: 42px;
    left: 908px;
    top: 14px;
    background: #F3F3F7;
    border-radius: 28px;
    border: none;
    cursor: pointer;
    margin-right: 7%;
}
.header-content__third-block>button>span {
    width: 125px;
    height: 28px;
    left: 936px;
    top: 21px;
    font-weight: 700;
    font-size: 14px;
    line-height: 28px;  
    color: #696F7A;
}
.header-content__third-block>div {
    width: 200px;
    height: 32px;
    font-weight: 700;
    font-size: 22px;
    line-height: 32px;    
    text-transform: uppercase;
    color: #FF2E65;
}
.header-content__bottom-block {
    display: inline-flex;
    width: 100%;
}
.header-content__menu {
    width: 875px;
    height: 18px;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #0E0C0D;
}
.header-content__menu>ul {
    padding-left: 0;
}
.header-content__menu>ul>li {
    list-style-type: none;
    display: inline-block;
    margin-right: 15px;
    font-size: 15px;
}

.header-content__button{
    display: inline-flex;
}
.header-content__enter {
    background: inherit;
    border: none;
    width: 54px;
    height: 28px;
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    color: #696F7A;
    cursor: pointer;
    margin: auto;
}
.header-content__basket {
    width: 160px;
    height: 42px;
    background: #FF2E65;
    border-radius: 8px;
    border: none;
    margin-left: 25px;
    cursor: pointer;
}
.header-content__basket-text {
    display: inline-flex;
    width: 73px;
    height: 28px;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    color: #fff;
}
.header-content__line{
    margin: 0 10px;
}
.header-content__line>span{
    position: absolute;
    width: 2px;
    height: 20px;
    background: #fff;
    top: 86px;
}
.header-content__basket-arrow{
    display: none;
}
.arrow-active{
    transform: rotate(180deg);
}