@media(max-width: 1536px){
    #map {
        margin-left: 178px;
    }
}
@media(max-width: 1440px){
    #map {
        margin-left: 153px;
    }
}
@media(max-width: 1280px){
    #map {
        margin-left: 85px;
        margin-top: 140px;
    }
    .footer-content__description-contact{
        display: flex;
        flex-direction: column;
    }
}
@media(max-width: 1200px){
    #map {
        margin-left: 40px;
    }
}
@media(max-width: 1152px){
    .header-content__second-block{
        margin-right: 155px;
    }
    .header-content__menu {
        width: 760px;
    }
    .header-content__menu>ul>li {
        margin-right: 10px;
    }
    #map {
        width: 1000px;
    }
    .footer-content {
        margin-top: 75px;
    }
    .footer-content__social-links>div {
        padding-right: 60px;
    }
    .footer-content__description-contact {
        margin-left: 130px;
    }
    .footer-content__icons-payment {
        padding-left: 30px;
    }
    .footer-content__first-block {
        width: 535px;
    }
}
@media(max-width: 1024px){
    .header-content__second-block {
        margin-right: 50px;
    }
    .header-content__menu>ul>li {
        margin-right: 5px;
    }
    .header-content__menu {
        width: 680px;
    }   
    #map {
        width: 920px;
    }
    .footer-content__first-block {
        width: 450px;
    }    
    .footer-content__description-contact {
        margin-left: 90px;
    }
    .footer-content__social-links>div {
        padding-right: 35px;
    }
    .footer-content__icons-payment {
        padding-left: 5px;
    }
}
@media(max-width: 920px){
    .header-content__third-block {
        margin-left: 200px;
    }
    .header-content__menu {
        width: 550px;
    }
    #map {
        width: 790px;
        flex: 1 1 auto;
    }
}
@media (max-width: 820px){
    .header-content {
        margin-left: 55px;
    }
    .header-content__third-block {
        margin-left: 115px;
    }
    .header-content__menu {
        width: 465px;
    }
    #map {
        width: 705px;
        margin-left: 55px;
    }
    .footer-content {
        margin-top: 70px;
        margin-left: 30px;
    }
    .footer-content__social-links{
        display: block;
    }
    .footer-content__сopyright{
        margin-top: 40px;
    }
    .footer-content__description-contact {
        display: none;
    }
    .footer-content__first-block {
        width: 345px;
    }
}
@media(max-width: 768px){
    .header-content {
        margin-left: 25px;
    }
    #map {
        margin-left: 30px;
    }
    .footer-content__social-links{
        display: inline-flex;
    }
    .footer-content__description-contact{
        display: block;
        margin-left: 120px;
    }
    .footer-content__сopyright {
        margin-top: 0;
    }
    .footer-content__second-block{
        display: none;
    }
}
@media(max-width: 540px){
    .header-content {
        margin-left: 45px;
    }
    .header-content__menu {
        width: 155px;
    }
    #map {
        width: 440px;
        margin-left: 45px;
    }
    .footer-content {
        margin-left: 45px;
    }
}
@media(max-width: 414px){
    .header-content {
        margin-left: 15px;
    }
    .header-content__menu {
        width: 80px;
    }
    .header-content__third-block {
        margin-left: 40px;
    }
    #map {
        width: 370px;
        margin-left: 15px;
    }
    .footer-content {
        margin-left: 15px;
    }
    .footer-content__block-networks-description{
        display: block;
    }
    .footer-content__description-contact {
        margin-top: 35px;
        margin-left: 0;
    }
    .footer-content__сopyright {
        margin-top: 45px;
    }
}
@media(max-width: 393px){
    #map {
        margin-left: 11px;
    }
}
@media(max-width: 375px){
    #map {
        width: 353px;
    }
}
@media(max-width: 280px){
    .header-content {
        margin-left: 5px;
    }
    .header-content__third-block {
        margin-left: 27px;
    }
    .header-content__menu {
        width: 55px;
    }
    #map {
        width: 270px;
        margin-left: 5px;
    }
    .footer-content {
        margin-left: 5px;
    }
    .footer-content__first-block {
        width: 260px;
    }
    .footer-content__working-hours {
        width: 265px;
    }
    .footer-content__number {
        width: 265px;
        font-size: 30px;
    }
}