
@media(max-width: 1536px){
    .header-content{
        margin-left: 200px;
    }
    .ordering-wrapper {
        margin-left: 200px;
    }
}
@media(max-width: 1440px){
    .header-content{
        margin-left: 155px;
    }
    .ordering-wrapper {
        margin-left: 155px;
    }
}
@media(max-width: 1280px){
    .header-content {
        margin-left: 70px;
    }
    .ordering-wrapper {
        margin-left: 70px;
    }
}
@media(max-width: 1200px){
    .header-content {
        margin-left: 25px;
    }
    .header-content__second-block {
        margin-left: 465px;
    }
    .ordering-wrapper {
        margin-left: 25px;
    }
}
@media(max-width: 1152px){
    .header-content__second-block {
        margin-left: 435px;
    }
    .ordering-first-block__right {
        margin-left: 0;
    }
    .ordering-first-block__titles-block {
        width: 145px;
    }
    .ordering-first-block__span {
        left: 620px;
    }
    .ordering-first-block__span.pickup{
        left: 550px;
    }
    .ordering-first-block__left {
        width: 745px;
        margin-right: 0px;
    }
}
@media(max-width: 1024px){
    .header-content__second-block {
        margin-left: 305px;
    }
    .ordering-wrapper {
        margin-left: 140px;
    }
    .ordering-first-block{
        display: block;
    }
}
@media(max-width: 920px){
    .header-content__second-block {
        margin-left: 190px;
    }
    .ordering-wrapper {
        margin-left: 50px;
    }
    .footer-content__first-block {
        width: 440px;
    }
    .footer-content__social-links>div {
        padding-right: 120px;
    }
    .footer-content__description>div>a {
        padding-right: 20px;
    }
    .footer-content__Ñopyright {
        min-width: 200px;
    }
    .ordering-third-block__popup {
        left: 235px;
        top: 40px;
    }
    .ordering-third-block__rhombus{
        top: 35px;
        left: 392px;
    }
}
@media (max-width: 820px){
    .header-content__second-block {
        margin-left: 100px;
    }
    .ordering-wrapper {
        margin-left: 35px;
    }
    .footer-content {
        margin-left: 15px;
    }
    .footer-content__first-block {
        width: 360px;
    }
}
@media(max-width: 768px){
    .header-content__first-block>img{
        width: 50px;
        height: 50px;
    }
    .header-content__text-logo {
        margin-left: 10px;
    }
    .header-content__second-block {
        margin-left: 60px;
    }
    .ordering-wrapper {
        margin-left: 20px;
    }
    .ordering-second-block {
        width: 660px;
    }
    .ordering-third-block__bottom-block {
        width: 655px;
    }
    .ordering-third-block__top-block {
        display: inline-flex;
        width: 470px;
    }
    .footer-content__social-links>div {
        padding-right: 40px;
    }
    .footer-content__first-block {
        width: 305px;
    }
    .ordering-first-block__time-block {
        left: 50px;
    }
    .ordering-second-block__payment-block {
        width: 340px;
    }
}
@media(max-width: 540px){
    .ordering-wrapper{
        overflow-x: hidden;
    }
    .header-content {
        margin-left: 70px;
    }
    .header-content__first-block{
        display: none;
    }
    .ordering-first-block__title-delivery {
        font-size: 25px;
    }
    .ordering-first-block__titles-block{
        position: absolute;
        top: -45px;
        left: 5px;
    }
    .ordering-first-block__name-number-block {
        margin-bottom: 72px;
    }
    .ordering-first-block__phone-number-block {
        margin-bottom: 75px;
    }
    .ordering-first-block__delivery-address-block {
        margin-bottom: 30px;
    }
    .block-input{
        margin-top: 20px;
    }
    .ordering-first-block__big-input{
        width: 480px;
        margin-bottom: 55px;
    }
    .ordering-first-block__inputs-block>input {
        width: 480px;
    }
    .ordering-first-block__smal-input {
        width: 465px;
    }
    .ordering-first-block__span.pickup {
        left: 330px;
    }
    .ordering-first-block__big-input>textarea {
        width: 300px;
    }
    .first-change{
        top: 109px
    }
    .second-change{
        top: 205px;
    }
    .third-change{
        top: 393px;
    }
    .pickup{
        top: 285px;
    }
    .ordering-first-block__time-delivery-block {
        margin-top: 155px;
    }
    .ordering-first-block__span {
        left: 400px;
    }
    .header-content__dotted-line-first, .header-content__dotted-line-second {
        width: 70px;
    }
    .header-content__circle-pink {
        width: 26px;
        height: 26px;
    }
    .header-content__circle-pink>div {
        padding-left: 9px;
        padding-top: 5px;
    }    
    .header-content__circle-transparent{
        width: 26px;
        height: 26px;
    }
    .header-content__circle-transparent>div {
        padding-left: 8px;
        padding-top: 3px;
    }
    .header-content__cell-first {
        margin-right: 40px;
    }
    .header-content__dotted-line-second {
        left: 183px;
    }
    .header-content__cell-second {
        margin-right: 25px;
    }
    .header-content__first-block {
        width: 140px;
    }
    .header-content__text-logo>span {
        font-size: 6.3px;
    }
    .header-content__second-block {
        margin-left: 40px;
        width: 60px;
    }
    .header-content__text-logo {
        margin-top: 3px;
    }
    .ordering-wrapper {
        margin-left: 15px;
    }
    .ordering-second-block{
        margin-left: 0;
    }
    .ordering-second-block__img-details{
        display: none;
    }
    .ordering-second-block {
        width: 375px;
    }
    .ordering-third-block {
        margin-left: 10px;
    }
    .ordering-third-block__bottom-block {
        width: 180px;
    }
    .ordering-third-block__button-order {
        width: 230px;
        margin-left: 10px;  
    }    
    .ordering-third-block__button-order>span {
        right: 17px;
    }
    .ordering-third-block__popup {
        left: 15px;
    }
    .ordering-first-block__time-divs {
        width: 110px;
    }
    .ordering-first-block__time-block {
        width: 385px;
    }
    .ordering-first-block__close-img {
        left: 340px;
    }
    .ordering-first-block__time-block {
        left: 20px;
    }   
    .ordering-first-block__left {
        width: 490px;
    }
    .ordering-third-block__bottom-block-desktop{
        justify-content: normal;
    }
    .footer-content__first-block {
        width: 400px;
    }
}
@media(max-width: 414px){
    .header-content {
        margin-left: 5px;
    }
    .header-content__first-block {
        display: none;
    }
    .ordering-first-block__left {
        width: 390px;
    }
    .ordering-third-block__top-block {
        width: 380px;
    }
    .ordering-first-block__inputs-block>input {
        width: 380px;
    }
    .ordering-first-block__smal-input {
        width: 365px;
    }
    .ordering-first-block__big-input {
        width: 383px;
    }
    .ordering-first-block__span {
        left: 300px;
    }
    .ordering-first-block__big-input>textarea {
        width: 200px;
    }
    .ordering-first-block__span.pickup {
        left: 230px;
    }
    .ordering-second-block {
        margin-left: 0;
    }
    .ordering-first-block__time-wrapper {
        margin-left: 15px;
    }
    .ordering-first-block__time-block {
        width: 325px;
    }
    .ordering-first-block__close-img {
        left: 310px;
    }
    .ordering-third-block {
        margin-left: 0;
    }
    .ordering-third-block__checkbox-block {
        width: 380px;
    }
    .ordering-third-block__button-order {
        width: 190px;
        margin-left: 0;
    }
    .ordering-third-block__button-order>span{
        display: none;
    }
    .ordering-third-block__popup{
        display: none;
    }
    .ordering-third-block__rhombus{
        display: none;
    }
    .ordering-third-block__details-report{
        display: none;
    }
    .ordering-third-block__title {
        width: 335px;
    }
    .footer-content {
        margin-left: 15px;
    }
    .footer-content__description>div{
        display: block;
    }
    .footer-content__description{
        margin-bottom: 25px;
    }
}
@media(max-width: 393px){
    .ordering-wrapper {
        margin-left: 5px;
    }
    .ordering-first-block__inputs-block>input {
        width: 370px;
    }
    .ordering-first-block__smal-input {
        width: 353px;
    }
    .ordering-first-block__big-input {
        width: 370px;
    }
    .ordering-first-block__span {
        left: 290px;
    }
    .ordering-first-block__span.pickup {
        left: 218px;
    }
    .ordering-first-block__left {
        width: 260px;
    }
    .ordering-first-block__time-block {
        left: 10px;
    }    
    .footer-content__first-block {
        width: 315px;
    }
}
@media(max-width: 375px){
    .header-content__second-block {
        margin-left: 20px;
    }
    .ordering-first-block__inputs-block>input {
        width: 333px;
    }
    .ordering-first-block__smal-input {
        width: 315px;
    }
    .ordering-first-block__big-input {
        width: 335px;
    }
    .ordering-first-block__span {
        left: 255px;
    }
    .ordering-first-block__span.pickup {
        left: 185px;
    }
    .ordering-second-block {
        margin-left: 5px;
    }
    .ordering-second-block {
        width: 350px;
    }
    .ordering-second-block__payment-block {
        margin-left: 14px;
    }
    .ordering-third-block__checkbox-block {
        width: 250px;
    }
    .ordering-third-block {
        margin-left: 10px;
    }
    .ordering-third-block__bottom-block-desktop {
        display: none;
    }
    .ordering-third-block__bottom-block-mobile {
        display: block;
    }
    .ordering-third-block__top-block {
        width: 250px;
    }
}
@media(max-width: 360px){
    .header-content__second-block {
        margin-left: 10px;
    }
}
@media(max-width: 280px){
    .header-content{
        width: 260px;
    }
    .header-content__second-block {
        margin-left: 0;
    }
    .header-content__second-block>div{
        width: 260px;
    }
    .header-content__dotted-line-first, .header-content__dotted-line-second {
        width: 40px;
    }
    .header-content__cell-first {
        margin-right: 0;
    }
    .header-content__cell-second {
        margin-right: 0;
    }
    .header-content__dotted-line-second {
        left: 155px;
    }
    .header-content__dotted-line-first {
        left: 55px;
    }
    .header-content__other-title {
        font-size: 12px;
    }
    .header-content__active-title {
        font-size: 12px;
    }
    .header-content__second-block>div {
        width: 122px;
        margin-left: 4px;
    }
    .ordering-first-block__title-delivery {
        font-size: 20px;
    }
    .ordering-first-block__inputs-block>input {
        width: 260px;
    }
    .ordering-first-block__smal-input {
        width: 245px;
    }
    .ordering-first-block__big-input {
        width: 263px;
        height: 154px;
    }
    .ordering-first-block__time-delivery-block {
        margin-top: 180px;
    }
    .ordering-first-block__span {
        left: 185px;
    }
    .third-change {
        top: 418px;
    }
    .ordering-first-block__span.pickup{
        padding-right: 5px;
    }
    .ordering-first-block__big-input>input {
        width: 225px;
    }
    .ordering-first-block__big-input>textarea {
        width: 160px;
        height: 105px;
    }
    .ordering-first-block__time-wrapper {
        margin-left: 5px;
    }
    .ordering-first-block__time-divs {
        width: 90px;
        padding-left: 5px;
        margin-right: 10px;
    }
    .ordering-first-block__time-block {
        width: 218px;
    }
    .ordering-first-block__close-img {
        left: 210px;
    }
    .ordering-first-block__block-promocod{
        display: block;
        width: 260px;
    }
    .ordering-first-block__block-promocod>button{
        margin-top: 30px;
        border-radius: 8px;
    }
    .ordering-first-block__right{
        width: 250px;
        margin-top: 75px;
        margin-left: 10px;
    }
    .ordering-first-block__slider-block {
        right: 15px;
    }
    .ordering-first-block__sum-block {
        width: 225px;
    }
    .ordering-first-block__sum {
        width: 200px;
    }
    .ordering-first-block__composition-wrapper{
        margin-left: 5px;
    }
    .ordering-second-block__date-card {
        width: 119px;
    }
    .ordering-first-block__composition-description {
        width: 150px;
    }
    .ordering-second-block__payment-block {
        margin-left: 7px;
    }
    .ordering-second-block{
        width: 270px;
        margin-left: 0;
    }  
    .ordering-second-block__number-card {
        width: 240px;
    }
    .ordering-first-block__block-promocod>input{
        padding-top: 12px;
    }
    .ordering-third-block__title {
        width: 260px;
    }    
    .ordering-first-block__title-delivery {
        width: 260px;
    }
    .ordering-first-block__select-block {
        width: 260px;
    }
    .footer-content__first-block {
        width: 260px;
    }
}